In [58]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split as tts
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [59]:
df = pd.read_csv('weight-height.csv')
df1 = pd.read_csv('weight-height.csv')
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

# Encoding

In [60]:
encoder = LabelEncoder()

In [61]:
df.Gender = encoder.fit_transform(df.Gender)

In [62]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

In [63]:
x = df[['Gender','Height']]
y = df['Weight']
x.head()

   Gender     Height
0       1  73.847017
1       1  68.781904
2       1  74.110105
3       1  71.730978
4       1  69.881796

In [33]:
y.head()

0    241.893563
1    162.310473
2    212.740856
3    220.042470
4    206.349801
Name: Weight, dtype: float64

# data split

In [34]:
xtrain, xtest, ytrain, ytest = tts(x,y ,train_size = 0.70, random_state = 1)

# KNeighborsRegressor

In [35]:
knn = KNeighborsRegressor(n_neighbors = 200)

In [36]:
knn.fit(xtrain,ytrain)

KNeighborsRegressor(n_neighbors=200)

In [37]:
predict_knn_value = knn.predict(xtest)

In [38]:
predict_knn_value

array([144.02981274, 196.48555025, 184.2623397 , ..., 160.43411423,
       186.27047824, 201.72915658])

In [39]:
mse = mean_squared_error(ytest, predict_knn_value)

In [40]:
mse

108.81370260154333

In [41]:
mae = mean_absolute_error(ytest, predict_knn_value)

In [42]:
mae

8.295645467248384

In [53]:
knn.score(xtest,ytest)

0.8973746364296167

# LinearRegression

In [44]:
lr = LinearRegression()

In [45]:
lr.fit(xtrain, ytrain)

LinearRegression()

In [46]:
predict_lr_value = lr.predict(xtest)

In [47]:
predict_lr_value

array([143.83013436, 197.53417989, 184.63515112, ..., 160.7078525 ,
       186.82852694, 201.4226542 ])

In [48]:
mse = mean_squared_error(ytest, predict_lr_value)
mse

99.67250998070034

In [49]:
mae = mean_absolute_error(ytest, predict_lr_value)
mae

7.98213259272913

In [50]:
lr.score(xtest,ytest)

0.905995960709116